* {
    box-sizing: border-box;    
}

body {
    font-size: 24px;
    margin-left: 30px;
}

.favorable {
    background-color: green;
    color:  white;
    width: max-content;
  }
  
  .moderate {
    background-color: goldenrod;
    color: #000000;
    width: max-content;
  }
  
  .severe {
      background-color: red;
      color: #000000;
      width: max-content;
  }

  aside {    
    width: 30%;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: rgb(163, 20, 75);
}

.btn {
    background-color: rgb(230, 247, 228);
    color: black;
    font-size: 24px;
    width: 70%;
    height: 32px;
    border-color: black;
    border-bottom: 2px;
    padding: 3px;
}

.container {
    background-color: darkcyan;
}

.center {
    margin-left: 2%;
    background-color: hotpink;
    color: black;
    padding: 3px 10px 3px 10px;

}

.fiveDay {
    max-width: 200px;    
    margin: 10px;
    background: chartreuse;
}

.dayBlock {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 150px;
    border: 10px;
    border-color: none;
    text-align: left;
    background-color: rgb(8, 114, 201);
    color: rgb(245, 242, 238)
}