* {
    box-sizing: border-box;    
}

body {
    font-size: 24px;
    display: flex;
    margin-left: 30px;
}

/* less than 3 green   less than 8 is gold over 8 is red */
.favorable {
    background-color: green;
    color:  white;
    width: max-content;
  }
  
  .moderate {
    background-color: goldenrod;
    color: #000000;
    width: max-content;
  }
  
  .severe {
      background-color: red;
      color: #000000;
      width: max-content;
  }

  aside {    
    width: 30%;
    float: left;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: rgb(163, 20, 75);
}

/* .btn {
    background-color: rgb(230, 247, 228);
    color: black;
    font-size: 24px;
    display: block;
    width: 70%;
    height: 32px;
    border-color: black;
    border-bottom: 2px;
    padding: 3px;
} */

button {
    display: block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #002a5e;
    color: #f8e8c9;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

.center {
    margin-left: 2%;
    background-color: hotpink;
    color: black;
    padding: 3px 10px 3px 10px;
}

.fiveDay {
    display: block;
    position: absolute;
    max-width: 200px;
    
    margin: 10px;
    background: chartreuse;
}

.dayBlock {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 150px;
    border: 10px;
    border-color: none;
    text-align: left;
    background-color: rgb(8, 114, 201);
    color: rgb(245, 242, 238)
}